Screen {
    align: center middle;
    padding: 0;
    margin: 0;
}

DataTable#name {
    width: 10;
}

#loading {
    align: center middle;
    height: 1fr;
}

#asset_detail {
    border: round blue 75%;
    align: center middle;
    width: 0.9fr;
    background: $panel;
    padding: 1;
}

#asset_detail.fs {
    align: center middle;
    background: $panel;
    padding: 0;
    border: none;
    width: 100%;
}

#status {
    height: 0.5fr;
    text-align: center;
    width: 100%;
}

ContentSwitcher {
    width: 1fr;
    height: 1fr;
}

TabPane {
    padding: 0;
}

DataTable {
    background: $panel;
    height: 1fr;
}