Screen {
    align: center middle;
    padding: 0;
}

#buttons {
    height: 2;
    width: auto;
}

#buttons #assets-list{
    width: 60;
}

#loading {
    align: center middle;
    height: 1fr;
}

#status {
    height: 0.5fr;
    text-align: center;
    width: 100%;
}

ContentSwitcher {
    background: $panel;
    border: round $primary;
    width: 100%;
    height: 1fr;
}

DataTable {
    background: $panel;
    height: 1fr;
}

MarkdownH2 {
    background: $primary;
    color: yellow;
    border: none;
    padding: 0;
}